name: Nano11 Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        
      - name: Install aria2 7zip
        shell: pwsh
        run: |
          choco install aria2 7zip -y
          
      - name: Run W11-ISO.ps1
        shell: pwsh
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          pwsh -NoProfile -ExecutionPolicy Bypass -File ".\W11-ISO.ps1"
            
      - name: Mount Windows 11 ISO
        shell: pwsh
        run: |
          $isoPath = Join-Path $env:GITHUB_WORKSPACE "windows11.iso"
          Mount-DiskImage -ImagePath $isoPath
          
      - name: Run nano11.ps1
        shell: pwsh
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          pwsh -NoProfile -ExecutionPolicy Bypass -File ".\nano11.ps1"
          
      - name: Split nano11.iso
        shell: pwsh
        run: |
          $iso = Join-Path $env:GITHUB_WORKSPACE "nano11.iso"
          7z a -v1300m -mx=0 "nano11.iso.7z" $iso

      - name: Upload
        uses: actions/upload-artifact@v6.0.0
        with:
          name: nano11-split
          path: nano11.iso.7z.*
          if-no-files-found: warn
