name: Nano11 Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        
      - name: Install aria2 7zip
        shell: pwsh
        run: |
          choco install aria2 7zip -y
          
      - name: Download Windows 11 ISO
        shell: pwsh
        run: |
          $url = "https://software-static.download.prss.microsoft.com/dbazure/888969d5-f34g-4e03-ac9d-1f9786c66749/26200.6584.250915-1905.25h2_ge_release_svc_refresh_CLIENT_CONSUMER_x64FRE_zh-cn.iso"
          aria2c -x16 -s16 -k1M -c --file-allocation=trunc --summary-interval=1 --console-log-level=notice --show-console-readout=true -o windows11.iso $url
            
      - name: Mount Windows 11 ISO
        shell: pwsh
        run: |
          $isoPath = Join-Path $env:GITHUB_WORKSPACE "windows11.iso"
          Mount-DiskImage -ImagePath $isoPath
          
      - name: Run nano11.ps1
        shell: pwsh
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          Write-Host "Running nano11.ps1..."
          pwsh -NoProfile -ExecutionPolicy Bypass -File ".\nano11.ps1"
          
      - name: Split nano11.iso
        shell: pwsh
        run: |
          $iso = Join-Path $env:GITHUB_WORKSPACE "nano11.iso"
          7z a -v1300m -mx=0 "nano11.iso.7z" $iso

      - name: Upload
        uses: actions/upload-artifact@v6.0.0
        with:
          name: nano11-split
          path: nano11.iso.7z.*
          if-no-files-found: warn
